div.device-theme-switcher-settings {
	table td {
		padding: 0 5px 0 5px;
	}
	a.optional-settings-toggle, a.help-and-support-toggle {
		font-size: 0.9em ;
		outline: none ;
		box-shadow: none ;
	}
	div.optional-settings, div.help-and-support {
		max-width: 850px ;
		display: none ; /* We'll enable this via JavaScript */
	}
}