/* line 1, sass/style.scss */
div.wrap.device-theme-switcher-settings table td {
  padding: 0 5px 0 5px;
}

/* line 7, sass/style.scss */
.optional-settings-toggle, .help-and-support-toggle {
  font-size: 0.9em;
  outline: none;
}

/* line 11, sass/style.scss */
.optional-settings, .help-and-support {
  max-width: 850px;
  display: none;
  /* We'll enable this via JavaScript */
}
